html, body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

.gameScene {
    position: relative;
    width: 100%;
    height: 100%;
}

.pacPerson {
    position: absolute;
    background: red;
    width: 40px;
    height: 40px;
    border-radius: 20px;
}

.playersList,
.debugList {
    position: absolute;
    list-style-type: none;
    margin: 0;
    padding: 0;
    top: 2px;
    left: 2px;
    font-size: 12px;
}

.playersList li,
.debugList li {
    margin: 0;
    padding: 0;
}

.debugList {
    bottom: 3px;
}

#intro {
    text-align: center;
    width: 300px;
    margin: 0 auto;
}